.svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.svg-circle-border {
    fill: none;
}

.svg-circle-text {
    font-size: 2rem;
    text-anchor: middle;
}
.progress-container{
    position: relative;
}
.progress-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
